@charset "UTF-8";

.tab-type-one {
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    padding-top: 15px
}

    .tab-type-one .tab-item {
        display: inline-block;
        cursor: default;
        font-size: 14px;
        margin-bottom: 10px;
        width: 16.66%;
        float: left
    }

        .tab-type-one .tab-item a, .tab-type-one .tab-item span {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding: 0 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #666;
            cursor: pointer
        }

            .tab-type-one .tab-item a:hover, .tab-type-one .tab-item span:hover {
                text-decoration: underline;
                color: #37cf6b
            }

                .tab-type-one .tab-item a:hover.cur, .tab-type-one .tab-item span:hover.cur {
                    color: #fff
                }

        .tab-type-one .tab-item.cur a, .tab-type-one .tab-item.cur span {
            color: #fff;
            background-color: #37cf6b
        }

.pagebar {
    font-size: 16px;
    text-align: center;
    margin: 50px 0
}

    .pagebar a {
        color: #37cf6b
    }

        .pagebar a:hover {
            text-decoration: underline
        }

    .pagebar .page {
        color: #323232;
        margin: 0 48px;
        cursor: default
    }

    .pagebar .disabled {
        color: #999;
        cursor: default
    }

        .pagebar .disabled:hover {
            text-decoration: none
        }

.doctor-info-item {
    display: inline-block;
    margin: 25px 0;
    overflow: hidden;
    float:left;
    padding: 15px 10px 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 12px;
    color: #666
}

    .doctor-info-item .avatar-wrap {
        float: left;
        text-align: center;
        margin-right: 7px;
        overflow: hidden
    }

        .doctor-info-item .avatar-wrap a {
            display: block;
            height: 79px;
            width: 79px;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            border: 1px solid #e5f3fe;
            border-radius: 100%;
            margin-bottom: 9px;
            overflow: hidden
        }

        .doctor-info-item .avatar-wrap img {
            display: block;
            height: 79px;
            width: 79px;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            border: 0
        }

        .doctor-info-item .avatar-wrap .available, .doctor-info-item .avatar-wrap .unavailable {
            display: inline-block;
            color: #fff;
            background-color: #ff6134;
            padding: 4px 5px
        }

    .doctor-info-item .detail {
        overflow: hidden;
        padding-top: 5px
    }

    .doctor-info-item .name {
        color: #37cf6b
    }

    .doctor-info-item .name-wrap {
        display: inline-block;
        line-height: 16px;
        height: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #323232;
        max-width: 100%;
        font-size: 14px
    }

    .doctor-info-item a:hover {
        text-decoration: underline;
        color: #37cf6b
    }

    .doctor-info-item .hospital, .doctor-info-item .half-item {
        display: inline-block;
        line-height: 14px;
        height: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%
    }

    .doctor-info-item .des-item {
        overflow: hidden;
        margin-bottom: 7px
    }

    .doctor-info-item .half-item {
        width: 50%;
        max-width: 120px;
        float: left
    }

        .doctor-info-item .half-item i {
            color: #ff6134;
            font-style: normal
        }

        .doctor-info-item .half-item .color-black {
            color: #323232
        }

    .doctor-info-item .des {
        line-height: 20px;
        height: 40px;
        padding-top: 5px;
        overflow: hidden;
        border-top: 1px solid #e7e7e7;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }

    .doctor-info-item .doctor-reason em {
        font-style: normal;
        color: #ff6134
    }

.tab-type-free .tab-item {
    width: auto;
    margin-right: 30px
}

.first-clinic {
    margin-top: 10px
}

.select-wrap {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px dashed #e7e7e7
}

    .select-wrap .title {
        font-weight: 700;
        margin-right: 20px
    }

    .select-wrap .city-select {
        border: 1px solid #cecece;
        width: 90px;
        height: 22px;
        background-color: #fff;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-right: 20px
    }

.dropdown-wrap .slider-item {
    display: none
}

.dropdown-wrap .cur {
    display: block
}

.chosen {
    padding: 25px 0;
    border-bottom: 2px solid #37cf6b
}

    .chosen ul {
        display: inline-block
    }

        .chosen ul li {
            display: inline-block;
            background-color: #f3f3f3;
            border: 1px solid #ddd;
            color: #666;
            padding: 2px 3px 2px 2px;
            margin-right: 10px
        }

            .chosen ul li i {
                cursor: pointer;
                display: inline-block;
                margin: 3px 0 0 2px;
                width: 8px;
                height: 8px;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAATNJREFUOBHFUjtSAkEQ7WappSxMCDjCRuAFsAzgBkZwCLDKwNArGLiX0BNspFTpBSQwMjQ0Jlhgpp0H9tSwO2tgYie929Pv9esP0X8bq4Dzt+vBjjZ52m1NX7P8S+NVP1pdDY2Ye81raQLAJDTerO3y4mPR13joAbbWPiNvu5ZbvHmChE9mxPTuHgcxEigEWEj6TFz0unwDAt8CflAZYJCAzMkcox2AjWyXHnzKl0WWlzWCGEmbkoUR+xgDRwlqJAg428sOKh+ilRY0CD9azSfGyhO+mblMkzR7Obv7xH9ofohh8DAwekAMYBHplKYsYtupEVQHhsq/beeIoAruuZ4hG9toIvFrjIF1VWilacVeAS6xaVUgwD2ESmqXiNt2A8shO6wMsBpI3MVO9nk/l6hvf/bfIJrIW3Y83YkAAAAASUVORK5CYII=");
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%
            }

.available-switch {
    float: right;
    position: relative;
    cursor: pointer;
    padding-left: 25px
}

    .available-switch input {
        width: 17px;
        height: 17px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: -2px
    }

    .available-switch:before {
        content: '';
        height: 14px;
        width: 14px;
        border: 1px solid #979797;
        display: inline-block;
        position: absolute;
        padding: 2px;
        left: 0;
        top: -2px;
        background: #fff;
        z-index: 1
    }

    .available-switch.checked:after {
        content: '\00a0';
        display: inline-block;
        border: 3px solid #37cf6b;
        border-top-width: 0;
        border-right-width: 0;
        width: 12px;
        height: 6px;
        -webkit-transform: rotate(-50deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=.6427876096865394, M12=-.766044443118978, M21=.766044443118978, M22=.766044443118978);
        position: absolute;
        top: 1px;
        left: 2px;
        z-index: 1
    }

.clinci-title {
    margin: 20px 0 30px;
    font-size: 16px;
    color: #666
}

.doctor-list {
    position: relative;
    min-height: 300px;
    overflow: hidden
}

    .doctor-list .doctor-info-item {
        width: 470px;
        float: left;
        margin: 0 20px 20px 0
    }

    .doctor-list .odd {
        margin-right: 0
    }

.first-clinic, .sider-wrap {
    padding-left: 50px;
    position: relative
}

    .first-clinic label, .sider-wrap label {
        position: absolute;
        left: 2px;
        width: 50px;
        top: 15px;
        line-height: 18px;
        font-weight: 700
    }

.sider-wrap {
    background: #f8f8f8;
    min-height: 70px
}

    .sider-wrap .tab-type-free {
        border: 0
    }
