@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutPage_Pan.cshtml";
}

<script id="_1593746231246_8985" src="https://fp.tongdun.net/fp/detect.json?partnerCode=weiyi&amp;token_id=weiyi-1593746230725-0.e58b31d8a04bb&amp;appName=weiyi_web&amp;paramz=-%5E%5E-%5E%5E3ce6845e756a73a2ab41713d2b72dce8%5E%5E-&amp;v=70%2BjMPP5qs1oK%2F4Hb9SEJsPolXftnfVzstQyKAZDr17pTVXjFgqa5DCdyzW%2FLm3p&amp;idf=1593746231052-11826614857&amp;w=jgnb8tNWYMwTKC4cwb4tTe6lv8YEJZqrhbHjcBEz5GlouQqslV~5DORiYz4RTGny7lHWntluiHRTdkIRYDJhJeFdFXwiLd3EU0DOHg5bzWy%3D&amp;ct=iSqg%2FI7c9paPxMCZeM6FaG%3D%3D&amp;_callback=_1593746231246_8985&amp;p=ZyXhb660MKviA9atR5mJRW%3D%3D&amp;h=ab134a478ed5733e914ffd51e9fa5f7b"></script>
<link rel="dns-prefetch" href="https://static.guahao.cn">
<link rel="canonical" href="https://www.guahao.com/expert/953f2be5-c720-11e1-913c-5cf9dd2e7135000">
<link rel="alternate" media="only screen and (max-width: 640px)" href="https://wy.guahao.com/expert/953f2be5-c720-11e1-913c-5cf9dd2e7135000">
<link rel="shortcut icon" href="https://static.guahao.cn/favicon.ico">
<link href="~/Content/AppReg/HosDoc/por.base.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://static.guahao.cn/front/portal-pc-static/css/portal.base.min.css?v=1593692048f127af" type="text/css">*@



<script type="text/javascript">
    $GF = [];
    GreenLine = {};
    //打点日志全局变量
    GreenLine.Log = {
        url: 'https://track.guahao.cn/blank.gif?',
        requestMethod: 'GET',
        loginId: '',
        perSessiionId: '15921229670530651956574',
        shortSessionId: '1593746126750',
        referurl: 'https://www.guahao.com/department/shiftcase/9805fd3a-c720-11e1-913c-5cf9dd2e7135000',
        userAgent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36',
        errorEventName: 'portal_pc_js_error',
        token: "",
        monitorLog: false
    }
    // 老的埋点，后面统一删除HTML上的埋点
    function _smartlog(link, mod) { return true; };
    // 老的浏览器兼容H5标签
    (function () { if (/MSIE [6-8]/.test(navigator.userAgent.toUpperCase())) { var tags = "header,footer,section,article,aside,details,summary,figure,figcaption,nav,menu".split(","); document.write("<style>" + tags.toString() + "{display:block}</style>"); for (var i = 0; i < tags.length; document.createElement(tags[i]), i++); } })();
    // 图片加载失败,error设置默认图片也加载失败避免死循环
    window.NoFind = function (src) {
        var img = event.srcElement;
        img.src = src;
        img.onerror = null;
    };
</script>
<link href="~/Content/AppReg/HosDoc/expert_v2.css" rel="stylesheet" type="text/css" />
<link href="~/Content/AppReg/HosDoc/areahome.css" rel="stylesheet" type="text/css" />
@*<link rel="stylesheet" href="https://static.guahao.cn/front/portal-pc-static/css/expert_v2.css?v=1593692048f127af" type="text/css">
    <link rel="stylesheet" href="https://static.guahao.cn/front/portal-pc-static/css/areahome.css?v=1593692048f127af" type="text/css">*@


<script charset="UTF-8" async="" src="https://api.geetest.com/gettype.php?gt=700b25965c44a7a195ae4b8e4bfb47ce&amp;callback=geetest_1593746237946"></script>
<script charset="UTF-8" async="" src="https://static.geetest.com/static/js/fullpage.8.9.6.js"></script>
<script charset="UTF-8" src="https://api.geetest.com/get.php?gt=700b25965c44a7a195ae4b8e4bfb47ce&amp;challenge=933e1e69c3f67c5a7a790e2bdfae52dc&amp;lang=zh-cn&amp;pt=0&amp;client_type=web&amp;w=ge9UjYLc)VaX9srEbqFSokN87L(XrEIL3RP(eyE1d4lDSUu4yE3omYa1SyF3lSGlQGoF1gNUC1i5pab6x(19CUPWZizb7RaN4F1baI2(GD7IWbUqSKWdJ35Oo5Fn1TpYaDAgUXeN3)x1OOzheXDWzZUKuCx5(19wd5GtFzgZmTQ22a4vclF4sCVXiMMvMvVUil35)lttMVEeN4xd0NcVBQTDB6XvSLZNpIhfya08e7MIxvghrOmvBZCYlTDrSWaKd5b1fWhIZxLpfSjj6MNpU4WSEPH3StsxhSf4X6wA17nJbWEQ(CXExulCIO7qIvXAqUXi(C0GWOAd5z1K)nwwoXtGE2pKdeXZOHI7sWvGnj0gdAmeb5WpT(rAFDT5Nuyo7zRziNaGQn8FcPpjJKDc7SxFVNQ9(4TYSRThOgqjxmQfOVbMoM0eQ8bf4wTm(lA2riCy3r(S4ywS1tmHKe8kJrwKVd0M)oPwx5bLFBrfRPsOorxIE(jUXTxyiy140Pm6LtoupAjm5oSynmN5IuiOdyM9zi7y20GNrePncLQ1qWxu5oucKWU2ASSyLn8k9ZMqZvoc9RfTNvAo1auIE1VDqN7kER19Fyz89N2idr9CfL0JFPndb5rCO5HNJgdL7nCMpbMcEtKYqXDWdY1CM25M749a1s1nH6jCGV7WB8)ewApnTQg9SKPe3O1c60Li5wTIDFe0ykjtJtqzBeVUy7uXufDURBzKEN55pLKJ5mUaSwY2ahDcyfOu5MUUFe5IVskMcYB)(hykagdMdPagZHBmU8Kg1qqH5wCeuzw6yJwZ(BCQt0Jkmsg1Ieptjs0UrYP9PEM2HCoZUV2m(H3LcsNgoYNAgVovLgZRdrEV7Ae0iHxiz1PLz)yoiB4YnmaHgh(SFLxvnJJwubRUE1bbjkJrMp0vpoBz9uXcNsgmvnVOtEh)McjjCAmZGld78ZYMftYe9VVfjQETxM)A73DanPCUuFmty8ScPjzw1rUHr1fkwzrjlPgV17UTfH3X69aWMT8CpOgLAyolbXINdwqsVcyQiPKWn9aMQd3Yt8Q1(A8nUxJDoGby(O6WbOCjfLzY3tjEfqj)DNXTXn308oNxMZASZH6qmX9V7OPOG3py8h)QVC5nmxKw(PH5e64f(Hgny5q4PNFL1wvdPRlio3IHb)9tCXvCtfLhMNnR2CqaJHkHA)X842lobxq(SqUelFk1XPgHMG4(97YNfAtKOBTTr5LyThCixHWsu35IaOip110VmIWrB(cRbcqUn7yGvElo0CKN7Ylmr8hFVd(6G0EMOX84oZBlzwFmEZ7BnT7w1TPwCzAkckB63dnoL85i2EtDYj2x7PQEnQ)7T3QQ0h7561pF850zO78k1tZ21cC3MUuTqSj9fBDhmUgmTE2UrX3IaH(HivYAY9e9yWR9W7VZVCKGGdR2rruoMD46KTJHzo7jn9bzjab1zWucOuCPKKZXW)pSFyPePEBYnaNpBbKUCFYvhXckdYDbotmSb5BX(QIGhbdAoQzycd3CB0cu8)uhff3KHGnBAaZ0l2MibeZFi5su3LNQgN9rwNfhG(Zh0dJg)Gpm6s6EQw1Cq9ZuT6h)r0twT8wb4U6PHmdDY(wKA4bixv1mO4FC6Qup5BzPzqNu95egn0f6UEzYfX0EGVkq7bIkcXNp7TkhFbXLcBi864T(dRxXs6W9Sxa4is3FqI45LZkRt4Zh0xnimR49xjK2bqRbJRl)kuyImCs(waZJ2jJX3vj7shSDXhKeUnsAPQ8Bu)CZhYqBIY7290Nau3KdpT0WSdA7NMPIcN(3yYVgXuetL(if5W5rTB3zijE)vSYHOP4E8EHlJg8w2dIDEFZteuOo1ILvdDHgJgFtfxyv1L5G)YXDZtNaTOBhf9tL22eXAoRDfcHheHa2Dx1Dc(1mLp2CwZbPbsbu8ttDA5ZpGBxyJevw2R5yhcqUehmo7NfkSmi1E6Fj2q0sV6ixWCo(f8HoPgZk)kaaTxeyxvEV(Lfzc5lOenwcMTaF0j8ZyZMjdLbmUQ9CddxsWmRgeJtuSSi(OC6sN8sYj9V8JOs7DfsWPN040Fxa01f79G6vsV)OtD51lWtj2DfkLZMMwdcC5KVc5h4xC5Wtly4qSGFB9pSga9ZT3YUz9DBmQWp55uwJptksDk(9dzeUwniV6UJVIx6il2UpKAPO)WY7U34DHH7kB2H1IV8eByBeiSYMlHaU(k4U95P2tzEtSUJVC0omG1UtEE82OmwbYTEgGlI)rUz)HHYUyCgf6V5A0q1Sgy7O6oGX7y8Rl9ig1rY(B9NLHG8i3go0j3TsrVvKC4o4xDDda4iZ)zi8YMkxeE8J861)fTTWKAb3SzosEoig9cu5UqHf74bf0762f46a9b0adfddfae052d67d316dd56f84f865c3e2c03528321d206f4a94476667a3ac4854d0e95c1f4669caf63301e1593e9dad9d6c4ee3ffc9f714382a8be952ba1c1a0557f8b7a13b964f519ae5d74b62e716c48c410cf73f8417c3d220ebc29e43e68ed4aa1636f00b0cbcf89da6cfbd7abbe83a2695e7e9554ba9&amp;callback=geetest_1593746241214"></script>
<link href="https://static.geetest.com/static/wind/style_https.1.5.8.css" rel="stylesheet">




<div id="g-wrapper" class="g-wrapper g-page-1200">
    <div id="gh">

        <input type="hidden" id="J_Domain" value="g">
        <input type="hidden" id="J_Target" value="%2Fexpert%2F953f2be5-c720-11e1-913c-5cf9dd2e7135000%3FhospitalId%3D986d8a43-c720-11e1-913c-5cf9dd2e7135000%26hospDeptId%3D9805fd3a-c720-11e1-913c-5cf9dd2e7135000">
        <input type="hidden" id="J_WeDomain" value="">



    </div>

    <div id="gc" style="min-height: 179px;">




        <div id="g-cfg" class="gp-expert" data-module="expert_2015" data-top-ads="1">

            <div class="grid-group">
                <div class="grid-section expert-card fix-clear">
                    <div class="info">
                        <div class="summary">
                            <p>
                                <img src="https://kano.guahao.cn/pYf27810846" alt="李元聪" onerror="NoFind('https://static.guahao.cn/img/character/doc-m-l.png?_=20121223')" class="photo">
                            </p>
                            <p class="mark g-clear">
                                <input name="csrf_token" type="hidden" value="1812x6lmsealo">
                                <a href="javascript:;" data-active="https://www.guahao.com/my/favorite/experts/953f2be5-c720-11e1-913c-5cf9dd2e7135000" data-inactive="https://www.guahao.com/my/favorite/experts/delete/953f2be5-c720-11e1-913c-5cf9dd2e7135000" class="" id="card-mark" onmousedown="return _smartlog(this,'GUANZHU')" monitor="doctor,doctor_info,doctor_follow">
                                    <i></i><span>关注</span>
                                </a>
                                <span class="mark-count">7</span>
                            </p>
                        </div>
                        <div class="detail word-break">
                            <h1>
                                <strong class="J_ExpertName">李元聪</strong>
                                <span> 主任医师</span>
                                <span>/</span>
                                <span>教授</span>
                                <a href="https://www.guahao.com/my/expert/praise/953f2be5-c720-11e1-913c-5cf9dd2e7135000" class="will-praise" style="text-decoration: none;">
                                    <span>点赞</span>
                                </a>
                            </h1>

                            <div class="hospital" id="card-hospital">
                                <!---如果执业点有多个大于1 那么 是wyHospitalId 的不显示,如果执业点有等于1 那么 是wyHospitalId也要显示,-->
                                <p>
                                    <a title="湖南中医药大学第一附属医院" href="https://www.guahao.com/hospital/986d8a43-c720-11e1-913c-5cf9dd2e7135000" target="_blank" onmousedown="return _smartlog(this,'YIYUAN')" monitor="doctor,doctor_info,hospital" monitor-hosp-id="986d8a43-c720-11e1-913c-5cf9dd2e7135000">
                                        湖南中医药大学第一附属医院
                                    </a>
                                    <span> - </span>
                                    <a href="https://www.guahao.com/department/9805fd3a-c720-11e1-913c-5cf9dd2e7135000" target="_blank" nmousedown="return _smartlog(this,'KESHI')" monitor="doctor,doctor_info,div" monitor-div-id="9805fd3a-c720-11e1-913c-5cf9dd2e7135000">
                                        口腔科
                                    </a>
                                </p>

                                <a href="javascript:;" class="more" data-description="" id="card-hospital-more">展开</a>
                                <div class="more-description-container">
                                    <!---如果执业点有多个大于1家医院， 那么 是wyHospitalId 的不显示,如果执业点有等于1 那么 是wyHospitalId也要显示,-->
                                    <p>
                                        <a title="湖南中医药大学第一附属医院" href="https://www.guahao.com/hospital/986d8a43-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                                            湖南中医药大学第一附属医院
                                        </a>
                                        <span> - </span>
                                        <a href="https://www.guahao.com/department/9805fd3a-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                                            口腔科
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="keys">


                                <a class="gb2 gb2-orange disease-bt" href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-44306" target="_blank" onmousedown="return _smartlog(this,'JBBQ')" hidefocus="true" title="口腔溃疡">


                                    口腔溃疡
                                </a>
                            </div>

                            <div class="goodat">
                                <b>擅长：</b>
                                <span>口腔常见病、多发病的诊断与治疗</span>
                            </div>
                            <div class="about">
                                <b>简介：</b>
                                <span>李元聪，男，主任医师，教授，中华口腔医学会会员，湖南省口腔医学会委员，学科带头人，主要从事口腔黏膜病的防治与研究30余年，主持和完成国家自然科学基金会科研项目一...</span>
                                <a href="javascript:;" data-description="李元聪，男，主任医师，教授，中华口腔医学会会员，湖南省口腔医学会委员，学科带头人，主要从事口腔黏膜病的防治与研究30余年，主持和完成国家自然科学基金会科研项目一项和多项省级科研课题，取得了多项科研成果，在国家级刊物、省级刊物发表论文30余篇，主编著作4本，副主编4本，被教育部聘请为高校专家成员、国家和省自然科学基金评委、湖南省卫生系列高评委。熟练口腔常见病、多发病的诊断与治疗，对中医中药治疗口腔粘膜疑难病症有独特见解。" class="J_MorePre" monitor="doctor,info,introduce_more">更多</a>
                            </div>
                        </div>
                    </div>


                    <div class="status">
                        <div class="service" id="service">
                            <a href="javascript:;" rel="nofollow" class="guahao active" data-scroll-target=".J_Tguahao" title="预约挂号" monitor="doctor,page_pitch,order">挂号</a>
                            <a href="javascript:;" rel="nofollow" class="tuwen " title="图文问诊" monitor="doctor,page_pitch,picask" data-scroll-target=".J_Tconsult">图文</a>

                            <a id="J_MyVideo" rel="nofollow" href="javascript:;" data-url="https://www.guahao.com/expert/consult/video?expertId=953f2be5-c720-11e1-913c-5cf9dd2e7135000" class="shipin
                    " title="视讯问诊" monitor="doctor,page_pitch,vpask" data-scroll-target=".J_Tconsult">视话</a>

                            <span class="servicePkg" title="服务包" monitor="">服务包</span>
                        </div>
                        <div class="data">
                            <div class="expert-rate" id="expert-rate">
                                <a>
                                    <p class="dark"></p>
                                    <p class="light" style="width: 0px;"></p>
                                    <strong style="opacity: 1;">暂无评分</strong>
                                </a>
                            </div>
                            <div class="total fix-clear">
                                <span>预约量</span>
                                <strong>221</strong>
                                <span>问诊量</span>
                                <strong>
                                    暂无
                                </strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="grid-group" style="padding-bottom: 30px;margin-bottom: 0;">
                    <div class="grid-left">
                        <div class="toy-hook"></div>
                        <section class="grid-section expert-guahao J_Tguahao J_ExpertGuahao">
                            <div class="grid-title">
                                <h2 style="display: inline;font-size: 24px;color: #000;line-height: 44px;">预约挂号</h2>
                                <span class="fee-tips">
                                    费用由医院自行设定，平台不收取任何额外费用
                                </span>
                            </div>
                            <div class="grid-content">
                                <div class="valid">
                                    <div class="tip-title-all J_tipTitleAll">

                                    </div>
                                    <div class="schedules" id="schedules" data-eid="953f2be5-c720-11e1-913c-5cf9dd2e7135000" data-url="/expert/new/shiftcase">
                                        <div class="item hospital">
                                            <label for="">医院：</label>

                                            <div class="contain" id="schedules-hospital">
                                                <a href="javascript:;" data-hospid="986d8a43-c720-11e1-913c-5cf9dd2e7135000" title="湖南中医药大学第一附属医院" monitor="doctor,doctor_service,order_hospital" monitor-hosp-id="986d8a43-c720-11e1-913c-5cf9dd2e7135000" class="active">
                                                    湖南中医药大学第一附属医院
                                                </a><br>
                                            </div>
                                        </div>
                                        <div class="item dept">
                                            <label for="">科室：</label>

                                            <div class="contain" id="schedules-dept">
                                                <a href="javascript:;" data-deptid="9805fd3a-c720-11e1-913c-5cf9dd2e7135000" data-hospid="986d8a43-c720-11e1-913c-5cf9dd2e7135000" monitor="doctor,doctor_service,order_div" monitor-div-id="9805fd3a-c720-11e1-913c-5cf9dd2e7135000" class="show active">
                                                    口腔科
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item list">
                                            <label for="">排班：</label>

                                            <div class="contain">
                                                <div class="type" id="schedules-label">
                                                    <div class="label label-normal J_LabelNormal" style="display: none;">
                                                        <span class="dot-expert">专家门诊</span>
                                                        <span class="dot-normal">普通门诊</span>
                                                        <span class="dot-special">特需门诊</span>
                                                        <span class="dot-paste J_LabelPaste" style="display:none;">膏方门诊</span>
                                                        <span class="dot-others J_LabelOthers" style="display:none;">其他门诊</span>
                                                        <span class="dot-cannot">不可约</span>
                                                    </div>
                                                    <div class="label label-sszx J_LabelSSZX" style="display: none;">
                                                        <span class="dot-sszx">手术中心预约</span>
                                                        <span class="dot-cannot">不可约</span>
                                                    </div>
                                                    <div class="label label-not-login J_LabelNotLogin" style="display: block;">
                                                        <span><em>登录</em>即可查看实时号源状态</span>
                                                    </div>
                                                </div>
                                                <div class="box" id="schedules-list">
                                                    <div class="container">
                                                        <ul class="fix-clear" style="display: block; left: 0px;">
                                                            <li monitor="doctor,doctor_service,order_order" class="J_SchedulesItem schedules-item cannot" data-login="true" data-order-href="">
                                                                <p class="date">07/04</p><p class="week">周六</p><p class="ap">上</p><div class="detail-container">
                                                                    <div class="detail-hospital">
                                                                        <p class="detail-title font-red">登录即可查看号源状态</p><p>
                                                                            医院：
                                                                            湖南中医药大学第一附属医院
                                                                        </p><p>
                                                                            科室：
                                                                            口腔科
                                                                        </p><p>出诊时间：2020-07-04 上午 </p>
                                                                    </div><div class="detail-appointment"><p>门诊类型：专家</p> <p>参考费用：<strong style="color: #ce4545;">102元</strong>(挂号费)</p><a href="javascript:;" class="detail-btn btn-disable">null</a><p>医院</p></div>
                                                                </div>
                                                            </li>
                                                            <li monitor="doctor,doctor_service,order_order" class="J_SchedulesItem schedules-item cannot" data-login="true" data-order-href="">
                                                                <p class="date">07/06</p><p class="week">周一</p><p class="ap">上</p><div class="detail-container">
                                                                    <div class="detail-hospital">
                                                                        <p class="detail-title font-red">登录即可查看号源状态</p><p>
                                                                            医院：
                                                                            湖南中医药大学第一附属医院
                                                                        </p><p>
                                                                            科室：
                                                                            口腔科
                                                                        </p><p>出诊时间：2020-07-06 上午 </p>
                                                                    </div><div class="detail-appointment"><p>门诊类型：专家</p> <p>参考费用：<strong style="color: #ce4545;">102元</strong>(挂号费)</p><a href="javascript:;" class="detail-btn btn-disable">null</a><p>医院</p></div>
                                                                </div>
                                                            </li>
                                                            <li monitor="doctor,doctor_service,order_order" class="J_SchedulesItem schedules-item cannot" data-login="true" data-order-href="">
                                                                <p class="date">07/08</p><p class="week">周三</p><p class="ap">上</p><div class="detail-container">
                                                                    <div class="detail-hospital">
                                                                        <p class="detail-title font-red">登录即可查看号源状态</p><p>
                                                                            医院：
                                                                            湖南中医药大学第一附属医院
                                                                        </p><p>
                                                                            科室：
                                                                            口腔科
                                                                        </p><p>出诊时间：2020-07-08 上午 </p>
                                                                    </div><div class="detail-appointment"><p>门诊类型：专家</p> <p>参考费用：<strong style="color: #ce4545;">102元</strong>(挂号费)</p><a href="javascript:;" class="detail-btn btn-disable">null</a><p>医院</p></div>
                                                                </div>
                                                            </li>
                                                            <li monitor="doctor,doctor_service,order_order" class="J_SchedulesItem schedules-item cannot" data-login="true" data-order-href="">
                                                                <p class="date">07/09</p><p class="week">周四</p><p class="ap">上</p>
                                                                <div class="detail-container" >
                                                                    <div class="detail-hospital">
                                                                        <p class="detail-title">登录即可查看号源状态</p><p>
                                                                            医院：
                                                                            湖南中医药大学第一附属医院
                                                                        </p><p>
                                                                            科室：
                                                                            口腔科
                                                                        </p><p>出诊时间：2020-07-09 上午 </p>
                                                                    </div><div class="detail-appointment"><p>门诊类型：专家</p> <p>参考费用：<strong style="color: #ce4545;">102元</strong>(挂号费)</p><a href="javascript:;" class="detail-btn btn-disable">null</a><p>医院</p></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="tip" id="schedules-tip"></div>
                                                    </div>
                                                    <div class="prev"></div>
                                                    <div class="next"></div>
                                                    @*<script>
                                                        $(".fix-clear .schedules-item").mouseover(function () {
                                                            $(this.className + " .detail-container").addClass("active");
                                                        }).mouseout(function () {
                                                            $(this + " .detail-container").removeClass("active");
                                                        });
                                                    </script>*@
                                                  <div class="detail active" style="width: 307px; left: 113.5px; top: 60px;">
                                                        <div class="detail-hospital" style="display:block">
                                                            <p class="detail-title ">点击即可预约挂号</p><p>
                                                                医院：
                                                                湖南中医药大学第一附属医院
                                                            </p><p>
                                                                科室：
                                                                口腔科
                                                            </p><p>出诊时间：2020-07-09 上午 </p>
                                                        </div>
                                                        <div class="detail-appointment" style="display:block">
                                                        <p>门诊类型：专家</p> 
                                                        <p>参考费用：<strong style="color: #ce4545;">102元</strong>(挂号费)</p>
                                                        <a data-order-href="/my/reservation/986d8a43-c720-11e1-913c-5cf9dd2e7135000/98d2b8ae-42ed-436b-95b5-a115f4f46d1a?pid=null&amp;d=20200709" class="detail-btn J_SubmitBtn">预约</a>
                                                        <p>医院</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info info-rule" id="schedules-reaservationRule" style="font-size: 13px;color: #aaa;line-height: 1.8;">
                                        <div class="rule-content">
                                            <a href="javascript:;" data-description="" class="more" monitor="doctor,order,rule_more">更多</a><div class=" more-description-container rule-text">
                                                <p style="line-height: 2.4;color: #333;">医院预约规则</p><p>
                                                    医院规则：
                                                </p><p>放号时间：0:00 具体以页面显示为准</p><p>预约周期：6天</p><p>取消时限：就诊前一天23:50前</p><p>取号方式：凭取号密码、患者身份证、就诊卡到门诊大厅任意挂号窗口取号</p><p>取号时间：普通号上午10:30前取号，下午16:00点前取号</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tip hide J_JyTips" id="jyTips" style="display: block;"><span>当前暂无可预约排班，可</span><a href="https://www.guahao.com/department/shiftcase/9805fd3a-c720-11e1-913c-5cf9dd2e7135000" monitor="doctor,doctor_servic,KSPB">查看科室排班</a><span>预约同科室其他医生，或</span><a href="javascript:;" monitor="doctor,doctor_servic,free_ask_fullschedule" class="J_FreeConsultPop">进入免费咨询</a></div>
                        </section>

                        <div class="hide J_FreeConsultContent"></div>

                        <div class="yindao-add J_Yindao hide">
                            <label>约不到李元聪医生号源？预约<font>长沙</font>口腔科的其他专家</label>
                            <ul class="J_GroupList" data-action="https://www.guahao.com/json/white/recommendExpertGroup?expertId=953f2be5-c720-11e1-913c-5cf9dd2e7135000"></ul>
                        </div>


                        <section class="grid-section expert-online-servicePkg J_ExpertOnlineServicePkg J_Tservicepkg">
                        </section> <section class="grid-section grid-section-outside expert-comment">
                            <div class="grid-title">
                                <h2 style="display: inline;font-size: 24px;color: #000;line-height: 44px;">患者评价</h2>

                                <div class="tip">
                                    <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0"><strong>4</strong>人分享</a>
                                </div>
                            </div>
                            <div class="grid-content">
                                <div class="g-filter" id="comment-filter">
                                    <!-- 评价标签 -->
                                    <div class="source fix-clear" style="height: 22px;">
                                        <i class="evaluate-icon"></i>
                                        <label for="">印象：</label>
                                        <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0" class="active">
                                            <ul class="fix-clear impress-container">
                                                <li class="impression">态度温和(1)</li>
                                                <li class="impression">经验丰富(1)</li>
                                            </ul>
                                        </a>
                                        <a href="javascript:;" class="more" id="comment-filter-more">展开</a>
                                    </div>
                                    <div class="impression-box"></div>
                                    <!--add hospital-->
                                    <div class="source fix-clear">
                                        <i class="hospital-icon"></i>
                                        <label for="">医院：</label>
                                        <ul class="fix-clear">
                                            <li><a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0" class="active">全部</a></li>
                                            <li>
                                                <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0?hospitalId=986d8a43-c720-11e1-913c-5cf9dd2e7135000" monitor="doctor,rate,hospital" monitor-hosp-id="986d8a43-c720-11e1-913c-5cf9dd2e7135000">
                                                    湖南中医药大学第一附属医院
                                                    (4)
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--add end-->
                                    <div class="source fix-clear">
                                        <i class="source-icon"></i>
                                        <label for="">来源：</label>
                                        <ul class="fix-clear">
                                            <li><a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0" class="active">全部</a></li>
                                            <li>
                                                <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0?type=0" monitor="doctor,rate,source" monitor-source-id="0">
                                                    医院就诊
                                                    (3)
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0?type=18" monitor="doctor,rate,source" monitor-source-id="18">
                                                    点赞
                                                    (1)
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="disease fix-clear" style="height: 22px;">
                                        <i class="tyranny-icon"></i>
                                        <label for="">专治：</label>
                                        <ul class="container fix-clear comment-container">
                                            <li><a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0" class="active">全部</a></li>
                                            <li>
                                                <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-44306" monitor="doctor,rate,sick" monitor-sick-id="44306">
                                                    口腔溃疡
                                                    (1)
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="javascript:;" class="more" id="J_CureShow">展开</a>

                                    </div>
                                </div>
                                <ul class="word-break list" id="comment-list">
                                    <li>
                                        <div class="user">
                                            <img src="https://static.guahao.cn/img/character/unknow.png">
                                            <p>
                                                危**
                                            </p>
                                        </div>
                                        <div class="row-1">
                                            <p class="disease">
                                                <label for="">疾病：</label>
                                                <span>口腔溃疡</span>
                                            </p>


                                            <p class="">
                                                <label for="">病情状况:</label>
                                                <span>
                                                    痊愈
                                                </span>
                                            </p>
                                        </div>
                                        <div class="row-2">
                                            <div class="text">
                                                <span class="summary">李专家医术高明。人非常和气，开的药💊吃了三个月效果非常的好。谢谢你了李专家</span>
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>
                                                        2019-10-12 11:23:28
                                                    </span>
                                                    <span>
                                                        来源：
                                                        用户点赞
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="user">
                                            <img src="https://static.guahao.cn/img/character/unknow.png">
                                            <p>
                                                杨**
                                            </p>
                                        </div>
                                        <div class="row-1">
                                            <p class="disease">
                                                <label for="">疾病：</label>
                                                <span>舌咽神经痛</span>
                                            </p>


                                            <p class="attitude">
                                                <label for="">满意度：</label>
                                                <strong>
                                                    很满意
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="row-2">
                                            <div class="text">
                                                <span class="summary">宗高医德，对病人细心。</span>
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>
                                                        2019-06-23 20:16:15
                                                        (就诊
                                                        后1天)
                                                    </span>
                                                    <span>
                                                        来源：
                                                        医院就诊
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="user">
                                            <img src="https://static.guahao.cn/img/character/unknow.png">
                                            <p>
                                                曹**
                                            </p>
                                        </div>
                                        <div class="row-1">
                                            <p class="disease">
                                                <label for="">疾病：</label>
                                                <span>口腔溃疡</span>
                                            </p>


                                            <p class="attitude">
                                                <label for="">满意度：</label>
                                                <strong>
                                                    满意
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="row-2">
                                            <div class="text">
                                                <span class="summary">医院服务较好，医生给力</span>
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>
                                                        2018-05-16 10:42:16
                                                        (就诊
                                                        后42天)
                                                    </span>
                                                    <span>
                                                        来源：
                                                        医院就诊
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="user">
                                            <img src="https://static.guahao.cn/img/character/unknow.png">
                                            <p>
                                                曾**
                                            </p>
                                        </div>
                                        <div class="row-1">
                                            <p class="disease">
                                                <label for="">疾病：</label>
                                                <span>舌炎</span>
                                            </p>


                                            <p class="attitude">
                                                <label for="">满意度：</label>
                                                <strong>
                                                    满意
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="row-2">
                                            <div class="text">
                                                <span class="summary">我看病时，后面没人排队了，李教授检查了一下我的舌头，助手写病历，李教授离开诊室后再回来，没有再近追问病情，也没号脉，我纳闷，中医的望闻问切呢? 李教授态度还好，也比较耐烦，药还没吃，不知效果如何?</span>
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>
                                                        2018-05-12 21:46:40
                                                        (就诊
                                                        后1天)
                                                    </span>
                                                    <span>
                                                        来源：
                                                        医院就诊
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="more">
                                    <a href="https://www.guahao.com/commentslist/e-953f2be5-c720-11e1-913c-5cf9dd2e7135000/1-0" monitor="doctor,doctor_rate,rate_more">查看全部患者评价</a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <aside class="grid-right">
                        <div class="toy-hook"></div>





                        <script type="text/javascript">

                            $GF.push(function () {

                                $('#J_HonorWall').css('display', 'none');
                                GH.run(function () {

                                    var expertID = $('.J_ExpertId').val();

                                    $.ajax({
                                        type: 'post',
                                        dataType: "json",
                                        cache: false,
                                        url: "/expert/honor",
                                        data: {
                                            expertId: expertID
                                        },
                                        success: function (data) {

                                            if (!data.hasError) {

                                                $('#J_HonorWall').css('display', 'block');
                                                $('#J_TeamListTmpl').tmpl([data.data]).appendTo('#J_HonorWall');

                                            } else {

                                                $('#J_HonorWall').css('display', 'none');

                                            }

                                        }
                                    });

                                }, [GH.modules["jqtmpl"]])

                            })

                        </script>                <div class="video-container" id="J_VideoHook" data-id="953f2be5-c720-11e1-913c-5cf9dd2e7135000" style="display: none;">
                            <div class="grid-section aside-article">
                                <div class="grid-title">
                                    <h3>李元聪的讲堂</h3>
                                    <a href="https://www.guahao.com/publish/953f2be5-c720-11e1-913c-5cf9dd2e7135000/2" class="more J_MoreVideos" style="display: none;">更多</a>
                                </div>
                                <div class="grid-content g-article-items">
                                    <ul class="video-list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <section class="section grid-section aside-same-dept">
                            <div class="grid-title">
                                <h2 style="display: inline;font-size: 20px;color: #000;line-height: 44px;">同科室医生</h2>
                                <a href="https://www.guahao.com/department/shiftcase/9805fd3a-c720-11e1-913c-5cf9dd2e7135000" class="more" onmousedown="return _smartlog(this,'TKSYS_GD')" monitor="doctor_activity,doctor_div,doctor_div_more">更多</a>
                            </div>
                            <div class="grid-content">
                                <ul>
                                    <li>
                                        <a href="https://www.guahao.com/expert/953efd66-c720-11e1-913c-5cf9dd2e7135000?hospDeptId=9805fd3a-c720-11e1-913c-5cf9dd2e7135000" onmousedown="return _smartlog(this,'TKSYS')">
                                            <img src="https://kano.guahao.cn/npt2581255_image140.jpg" monitor="doctor_activity,doctor_div,doctor" monitor-doctor-id="953efd66-c720-11e1-913c-5cf9dd2e7135000" alt="刘一平" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" class="photo">
                                        </a>
                                        <h5>
                                            <a title="刘一平" monitor="doctor_activity,doctor_div,doctor" monitor-doctor-id="953efd66-c720-11e1-913c-5cf9dd2e7135000" href="https://www.guahao.com/expert/953efd66-c720-11e1-913c-5cf9dd2e7135000?hospDeptId=9805fd3a-c720-11e1-913c-5cf9dd2e7135000" target="_blank" onmousedown="return _smartlog(this,'TKSYS')">
                                                刘一平
                                            </a>
                                            <span>
                                                主任医师
                                            </span>
                                        </h5>

                                        <p class="hospital">
                                            <span>
                                                湖南中医药大学第一附属医院
                                            </span>
                                        </p>

                                        <p class="total">
                                            累计预约 <strong>96</strong>人次
                                        </p>
                                    </li>
                                    <li>
                                        <a href="https://www.guahao.com/expert/953f7f24-c720-11e1-913c-5cf9dd2e7135000?hospDeptId=9805fd3a-c720-11e1-913c-5cf9dd2e7135000" onmousedown="return _smartlog(this,'TKSYS')">
                                            <img src="https://kano.guahao.cn/pYf27810846" monitor="doctor_activity,doctor_div,doctor" monitor-doctor-id="953f7f24-c720-11e1-913c-5cf9dd2e7135000" alt="谭劲" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" class="photo">
                                        </a>
                                        <h5>
                                            <a title="谭劲" monitor="doctor_activity,doctor_div,doctor" monitor-doctor-id="953f7f24-c720-11e1-913c-5cf9dd2e7135000" href="https://www.guahao.com/expert/953f7f24-c720-11e1-913c-5cf9dd2e7135000?hospDeptId=9805fd3a-c720-11e1-913c-5cf9dd2e7135000" target="_blank" onmousedown="return _smartlog(this,'TKSYS')">
                                                谭劲
                                            </a>
                                            <span>
                                                主任医师
                                            </span>
                                        </h5>

                                        <p class="hospital">
                                            <span>
                                                湖南中医药大学第一附属医院
                                            </span>
                                        </p>

                                        <p class="total">
                                            累计预约 <strong>73</strong>人次
                                        </p>
                                    </li>
                                    <li>
                                        <a href="https://www.guahao.com/expert/953f0158-c720-11e1-913c-5cf9dd2e7135000?hospDeptId=9805fd3a-c720-11e1-913c-5cf9dd2e7135000" onmousedown="return _smartlog(this,'TKSYS')">
                                            <img src="https://kano.guahao.cn/VWB27810544" monitor="doctor_activity,doctor_div,doctor" monitor-doctor-id="953f0158-c720-11e1-913c-5cf9dd2e7135000" alt="彭晓斌" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" class="photo">
                                        </a>
                                        <h5>
                                            <a title="彭晓斌" monitor="doctor_activity,doctor_div,doctor" monitor-doctor-id="953f0158-c720-11e1-913c-5cf9dd2e7135000" href="https://www.guahao.com/expert/953f0158-c720-11e1-913c-5cf9dd2e7135000?hospDeptId=9805fd3a-c720-11e1-913c-5cf9dd2e7135000" target="_blank" onmousedown="return _smartlog(this,'TKSYS')">
                                                彭晓斌
                                            </a>
                                            <span>
                                                主任医师
                                            </span>
                                        </h5>

                                        <p class="hospital">
                                            <span>
                                                湖南中医药大学第一附属医院
                                            </span>
                                        </p>

                                        <p class="total">
                                            累计预约 <strong>117</strong>人次
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <div class="g-ads-side J_Promotions" data-pos="2" data-rows="3" style="display: block;"><a monitor="activity,picadv,adv" target="_blank" href="/gdyl/index"><img alt="高端医疗 首家网络会诊中心 打造安全便捷医疗平台 " src="https://img.guahao.com/portal_upload/rollingnews/1433997888807.jpg"></a><a monitor="activity,picadv,adv" target="_blank" href="/mediafocus/detail/1315 "><img alt="李鹤成" src="https://img.guahao.com/portal_upload/rollingnews/1433388476950.jpg"></a><a monitor="activity,picadv,adv" target="_blank" href="/mediafocus/detail/1302 "><img alt="世界无烟日：吸烟损害戒断6年后方可减轻！" src="https://img.guahao.com/portal_upload/rollingnews/1432888730508.jpg"></a></div>
                    </aside>
                </div>
            </div>
        </div>
        <script>
            window.monitorVisitConfig = {
                'doctor-id': '953f2be5-c720-11e1-913c-5cf9dd2e7135000'
            }
            $GF.push(function () {
                $.ajax({
                    url: 'https://www.guahao.com/common/getcsrftoken',
                    type: 'post',
                    success: function (res) {
                        if (!res || res.hasError) {
                            return;
                        }
                        if (res && res.map) {
                            $('[name="csrf_token"]').val(res.map.csrf_token)
                        }
                    },
                    error: function (res) {
                        return;
                    }
                });
            });
        </script>

    </div>




    <script type="text/javascript">
        $GC = {
            debug: false,
            echartServer: '//im-web.guahao.cn',
            isLogined: false,
            guahaoServer: 'https://www.guahao.com',
            staticServer: 'https://static.guahao.cn',
            imageServer: 'https://h2img.guahao.com',
            kanoServer: 'https://kano.guahao.cn',
            serviceServer: 'https://service.guahao.com',
            eopsServer: 'http://doctor.guahao.com',
            wepayServer: 'https://wepay.guahao.com',
            mobilevalidcodepwd: 'lvxian95169124',
            version: "1593692048f127af",
            encodeId: "",
            jsCPath: "https://static.guahao.cn" + "/common/js",
            jspath: "https://static.guahao.cn" + "/front/portal-pc-static/js",
            domainEnd: 'guahao.com',
            bbsServer: 'https://bbs.guahao.com',
            gatewayServer: 'https://api-gateway.guahao.com',
            cloudcardServer: "https://service-api-finance.guahao.com",
            jkljServer: 'https://health.ljjk.org.cn',
            weiYiH5GuahaoServer: 'https://wy.guahao.com',
            bayAreaServer: 'https://dw.guahao.com',
            epayServer: 'https://pay.guahao.com'
        };

        // $GS { Array } - the init parameters for startup
        $GS = [
            $GC.jspath + "/plugins/scout.js?_=1593692048f127af",
            $GC.jspath + "/plugins/raven.js?_=1593692048f127af",
            $GC.jsCPath + "/base/jquery-1.8.1.min.js",
            $GC.jspath + "/base/GH.js?_=1593692048f127af",
            $GC.jsCPath + "/plugins/validator.js?_=20160129", function () {

                // load common module
                GL.load([GH.adaptModule("common")]);

                // load the modules defined in page
                var moduleName = $("#g-cfg").data("module");
                if (moduleName) {
                    var module = GH.modules[moduleName];
                    if (!module) {
                        module = GH.adaptModule(moduleName);
                    }
                    if (module) {
                        GL.load([module]);
                    }
                }

                if ($GU.isIE6()) {
                    GL.load([$GC.jspath + "/hack/ie6.js"]);
                }
            }];
    </script>
    <script type="text/javascript" src="https://static.guahao.cn/front/portal-pc-static/js/base/GL.js?_=1593692048f127af"></script>
    <script>
        //同盾token 发送
        (function () {
            _fmOpt = {
                partner: 'weiyi',
                appName: 'weiyi_web',
                token: "weiyi-" + new Date().getTime() + '-' + Math.random().toString(16),
                fmb: true,
                getinfo: function () {
                    return "e3Y6ICIyLjUuMCIsIG9zOiAid2ViIiwgczogMTk5LCBlOiAianMgbm90IGRvd25sb2FkIn0=";
                }
            };
            var cimg = new Image(1, 1);
            cimg.onload = function () {
                _fmOpt.imgLoaded = true;
            };
            cimg.src = "https://fp.fraudmetrix.cn/fp/clear.png?partnerCode=weiyi&appName=weiyi_web&tokenId=" + _fmOpt.token;
            var fm = document.createElement('script'); fm.type = 'text/javascript'; fm.async = true;
            fm.src = '//static.fraudmetrix.cn/v2/fm.js?ver=0.1&t=' + (new Date().getTime() / 3600000).toFixed(0);
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fm, s);
            setTimeout(function () {
                var fmCode = _fmOpt.getinfo();
                if (fmCode.length <= 256) {
                    setCookie('_fm_code', _fmOpt.getinfo())
                };
            }, 1200);
            function setCookie(name, val) {
                var expires = '; expires=' + new Date(new Date().getTime() + 30 * 24 * 3600 * 1000).toUTCString()
                document.cookie = [name, '=', encodeURIComponent(val), expires, '; path=/'].join('')
            }
        })();
    </script>

    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <div class="hide">
        <script type="text/javascript">

            (function () {

                // baidu
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?3a79c3f192d291eafbe9735053af3f82";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>

</div><div id="gm-bg"></div>
>