@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutPage_Pan.cshtml";
}
    <style>
        .box {
            height: 200px;
            width: 100%;
            background: #ccc;
            margin: 10px 0;
        }

        .location {
            right: 0;
            bottom: 10px;
            width: 20px;
            background: #FFC;
            padding: 5px;
            
            position: fixed;
            cursor: pointer;
            color: #003
        }
    </style>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box a">产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍产品介绍</div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box bottom"></div>
    <div class="location">
        <div class="sss">返回顶部</div>
        <p class="scroll_a">产品介绍</p>
        <p class="scroll_bottom">滑到底部</p>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(
            function ($) {
                $('.sss').click(
                    function () {
                        $('html,body').animate({ scrollTop: '0px' }, 800);
                    });
                $('.scroll_a').click(function () {
                    $('html,body').animate({ scrollTop: $('.a').offset().top }, 800);
                });
                $('.scroll_bottom').click(function () { $('html,body').animate({ scrollTop: $('.bottom').offset().top }, 800); });
            });
    </script>
