@{
    ViewBag.Title = "SeaDocL";
    Layout = "~/Views/Shared/_LayoutPage_Pan.cshtml";
}
    <link href="~/Content/SeaDoc/base.css" rel="stylesheet" />
    <link href="~/Content/SeaDoc/SeaByDis.css" rel="stylesheet" />
    <div class="ui-grid ui-main">
        <div class="position">
            <div class="block">
                您现在的位置：
                <a href="/AT_PMain/PanMain">首页</a>
                &gt; <a href="/AT_PMain/SeaDocL">找医生(按疾病)</a>
            </div>
        </div>
        <h3>按疾病找医生</h3>
        <ul class="list clinic">

            <li>
                <a href="/pc/diseasesdoc/1/" data-id="1" class="cur">妇科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/fa/" data-id="2">儿科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/aa/" data-id="3">内科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/ha/" data-id="4">皮肤性病科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/6/" data-id="6">营养科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/ca/" data-id="7">骨伤科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/8/" data-id="8">男科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/ba/" data-id="9">外科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/ma/" data-id="11">肿瘤及防治科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/oa/" data-id="12">中医科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/13/" data-id="13">口腔颌面科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/ja/" data-id="14">耳鼻咽喉科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/15/" data-id="15">眼科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/16/" data-id="16">整形美容科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/na/" data-id="17">精神心理科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/21/" data-id="21">产科</a>
            </li>

            <li>
                <a href="/pc/diseasesdoc/qa/" data-id="22">报告解读科</a>
            </li>

        </ul>
        <ul class="list clinic_second">



            <li><a class="cur" data-id="1" href="/pc/diseasesdoc/1/">妇科</a></li>



































        </ul>
        <ul class="list disease">

            <li><a href="/pc/disease/273362/" title="阴道炎">阴道炎</a></li>

            <li><a href="/pc/disease/273197/" title="流产">流产</a></li>

            <li><a href="/pc/disease/229808/" title="宫颈糜烂">宫颈糜烂</a></li>

            <li><a href="/pc/disease/229727/" title="宫外孕">宫外孕</a></li>

            <li><a href="/pc/disease/273236/" title="盆腔炎">盆腔炎</a></li>

            <li><a href="/pc/disease/217268/" title="乳腺增生">乳腺增生</a></li>

            <li><a href="/pc/disease/267551/" title="霉菌性阴道炎">霉菌性阴道炎</a></li>

            <li><a href="/pc/disease/220943/" title="内分泌失调">内分泌失调</a></li>

            <li><a href="/pc/disease/240389/" title="早产">早产</a></li>

            <li><a href="/pc/disease/219485/" title="先兆流产">先兆流产</a></li>

            <li><a href="/pc/disease/273149/" title="子宫肌瘤">子宫肌瘤</a></li>

            <li><a href="/pc/disease/240413/" title="早孕">早孕</a></li>

            <li><a href="/pc/disease/229793/" title="宫颈癌">宫颈癌</a></li>

            <li><a href="/pc/disease/228431/" title="妇科炎症">妇科炎症</a></li>

            <li><a href="/pc/disease/229787/" title="宫颈炎">宫颈炎</a></li>

            <li><a href="/pc/disease/239345/" title="支原体感染">支原体感染</a></li>

            <li><a href="/pc/disease/250274/" title="精索静脉曲张">精索静脉曲张</a></li>

            <li><a href="/pc/disease/228437/" title="妇科病">妇科病</a></li>

            <li><a href="/pc/disease/273128/" title="卵巢囊肿">卵巢囊肿</a></li>

            <li><a href="/pc/disease/217346/" title="乳腺炎">乳腺炎</a></li>

            <li><a href="/pc/disease/261392/" title="自然流产">自然流产</a></li>

            <li><a href="/pc/disease/251147/" title="细菌性阴道炎">细菌性阴道炎</a></li>

            <li><a href="/pc/disease/228434/" title="妇科疾病">妇科疾病</a></li>

            <li><a href="/pc/disease/267230/" title="附件炎">附件炎</a></li>

            <li><a href="/pc/disease/221723/" title="前置胎盘">前置胎盘</a></li>

            <li><a href="/pc/disease/216116/" title="不孕不育">不孕不育</a></li>

            <li><a href="/pc/disease/229280/" title="子宫内膜炎">子宫内膜炎</a></li>

            <li><a href="/pc/disease/227528/" title="多囊卵巢综合症">多囊卵巢综合症</a></li>

            <li><a href="/pc/disease/273143/" title="子宫内膜异位症">子宫内膜异位症</a></li>

            <li><a href="/pc/disease/243983/" title="滴虫性阴道炎">滴虫性阴道炎</a></li>

            <li><a href="/pc/disease/245321/" title="生化妊娠">生化妊娠</a></li>

            <li><a href="/pc/disease/229409/" title="子宫脱垂">子宫脱垂</a></li>

            <li><a href="/pc/disease/227105/" title="外阴炎">外阴炎</a></li>

            <li><a href="/pc/disease/264677/" title="输卵管堵塞">输卵管堵塞</a></li>

            <li><a href="/pc/disease/229736/" title="宫腔粘连">宫腔粘连</a></li>

            <li><a href="/pc/disease/227525/" title="多囊卵巢综合征">多囊卵巢综合征</a></li>

            <li><a href="/pc/disease/237863/" title="慢性盆腔炎">慢性盆腔炎</a></li>

            <li><a href="/pc/disease/267560/" title="霉菌感染">霉菌感染</a></li>

            <li><a href="/pc/disease/216122/" title="不孕症">不孕症</a></li>

            <li><a href="/pc/disease/229385/" title="子宫破裂">子宫破裂</a></li>

            <li><a href="/pc/disease/229772/" title="宫颈息肉">宫颈息肉</a></li>

            <li><a href="/pc/disease/262568/" title="葡萄胎">葡萄胎</a></li>

            <li><a href="/pc/disease/258281/" title="胚胎停育">胚胎停育</a></li>

            <li><a href="/pc/disease/251150/" title="细菌性阴道病">细菌性阴道病</a></li>

            <li><a href="/pc/disease/258266/" title="胎膜早破">胎膜早破</a></li>

            <li><a href="/pc/disease/234650/" title="异位妊娠">异位妊娠</a></li>

            <li><a href="/pc/disease/237704/" title="慢性宫颈炎">慢性宫颈炎</a></li>

            <li><a href="/pc/disease/246074/" title="畸胎瘤">畸胎瘤</a></li>

            <li><a href="/pc/disease/273140/" title="妊娠期糖尿病">妊娠期糖尿病</a></li>

            <li><a href="/pc/disease/241166/" title="染色体异常">染色体异常</a></li>

            <li><a href="/pc/disease/267407/" title="难产">难产</a></li>

            <li><a href="/pc/disease/223031/" title="卵巢癌">卵巢癌</a></li>

            <li><a href="/pc/disease/273146/" title="子宫内膜癌">子宫内膜癌</a></li>

            <li><a href="/pc/disease/229751/" title="宫颈囊肿">宫颈囊肿</a></li>

            <li><a href="/pc/disease/264629/" title="轻度宫颈糜烂">轻度宫颈糜烂</a></li>

            <li><a href="/pc/disease/263471/" title="衣原体感染">衣原体感染</a></li>

            <li><a href="/pc/disease/229274/" title="子宫内膜息肉">子宫内膜息肉</a></li>

            <li><a href="/pc/disease/265898/" title="重度宫颈糜烂">重度宫颈糜烂</a></li>

            <li><a href="/pc/disease/229268/" title="子宫内膜异位">子宫内膜异位</a></li>

            <li><a href="/pc/disease/235913/" title="急性乳腺炎">急性乳腺炎</a></li>

            <li><a href="/pc/disease/228443/" title="妇科肿瘤">妇科肿瘤</a></li>

            <li><a href="/pc/disease/216908/" title="习惯性流产">习惯性流产</a></li>

            <li><a href="/pc/disease/222995/" title="卵巢早衰">卵巢早衰</a></li>

            <li><a href="/pc/disease/229811/" title="宫颈肥大">宫颈肥大</a></li>

            <li><a href="/pc/disease/234932/" title="弱精">弱精</a></li>

            <li><a href="/pc/disease/221951/" title="功血">功血</a></li>

            <li><a href="/pc/disease/235829/" title="念珠菌感染">念珠菌感染</a></li>

            <li><a href="/pc/disease/273326/" title="胎盘早剥">胎盘早剥</a></li>

            <li><a href="/pc/disease/229415/" title="子宫腺肌症">子宫腺肌症</a></li>

            <li><a href="/pc/disease/264692/" title="输卵管炎">输卵管炎</a></li>

            <li><a href="/pc/disease/216377/" title="中度宫颈糜烂">中度宫颈糜烂</a></li>

            <li><a href="/pc/disease/264707/" title="输卵管积水">输卵管积水</a></li>

            <li><a href="/pc/disease/271112/" title="黄体功能不足">黄体功能不足</a></li>

            <li><a href="/pc/disease/240764/" title="更年期综合症">更年期综合症</a></li>

            <li><a href="/pc/disease/234935/" title="弱精症">弱精症</a></li>

            <li><a href="/pc/disease/223373/" title="原发性痛经">原发性痛经</a></li>

            <li><a href="/pc/disease/223058/" title="卵巢肿瘤">卵巢肿瘤</a></li>

            <li><a href="/pc/disease/229004/" title="妊高症">妊高症</a></li>

            <li><a href="/pc/disease/229247/" title="子宫下垂">子宫下垂</a></li>

            <li><a href="/pc/disease/216980/" title="乳头瘤">乳头瘤</a></li>

            <li><a href="/pc/disease/245912/" title="男性不育">男性不育</a></li>

            <li><a href="/pc/disease/271115/" title="黄体囊肿">黄体囊肿</a></li>

            <li><a href="/pc/disease/229790/" title="宫颈疾病">宫颈疾病</a></li>

            <li><a href="/pc/disease/271106/" title="黄体功能不全">黄体功能不全</a></li>

            <li><a href="/pc/disease/236456/" title="急性盆腔炎">急性盆腔炎</a></li>

            <li><a href="/pc/disease/227288/" title="外阴阴道炎">外阴阴道炎</a></li>

            <li><a href="/pc/disease/267902/" title="非淋菌性尿道炎">非淋菌性尿道炎</a></li>

            <li><a href="/pc/disease/250925/" title="纵隔子宫">纵隔子宫</a></li>

            <li><a href="/pc/disease/229805/" title="宫颈粘连">宫颈粘连</a></li>

            <li><a href="/pc/disease/218015/" title="产褥感染">产褥感染</a></li>

            <li><a href="/pc/disease/264680/" title="输卵管妊娠">输卵管妊娠</a></li>

            <li><a href="/pc/disease/271118/" title="黄体破裂">黄体破裂</a></li>

            <li><a href="/pc/disease/217430/" title="乳腺肿瘤">乳腺肿瘤</a></li>

            <li><a href="/pc/disease/221924/" title="功能性子宫出血">功能性子宫出血</a></li>

            <li><a href="/pc/disease/229382/" title="子宫癌">子宫癌</a></li>

            <li><a href="/pc/disease/229796/" title="宫颈癌前病变">宫颈癌前病变</a></li>

            <li><a href="/pc/disease/223694/" title="双子宫">双子宫</a></li>

            <li><a href="/pc/disease/217403/" title="乳腺纤维腺瘤">乳腺纤维腺瘤</a></li>

            <li><a href="/pc/disease/264713/" title="输卵管粘连">输卵管粘连</a></li>

            <li><a href="/pc/disease/229376/" title="子宫畸形">子宫畸形</a></li>

            <li><a href="/pc/disease/270638/" title="高泌乳素血症">高泌乳素血症</a></li>

            <li><a href="/pc/disease/228986/" title="妊娠高血压">妊娠高血压</a></li>

            <li><a href="/pc/disease/234062/" title="巴氏腺囊肿">巴氏腺囊肿</a></li>

            <li><a href="/pc/disease/240758/" title="更年期综合征">更年期综合征</a></li>

            <li><a href="/pc/disease/221678/" title="前庭大腺囊肿">前庭大腺囊肿</a></li>

            <li><a href="/pc/disease/229442/" title="子宫颈癌">子宫颈癌</a></li>

            <li><a href="/pc/disease/229349/" title="子宫息肉">子宫息肉</a></li>

            <li><a href="/pc/disease/271121/" title="黄体萎缩不全">黄体萎缩不全</a></li>

            <li><a href="/pc/disease/243989/" title="滴虫阴道炎">滴虫阴道炎</a></li>

            <li><a href="/pc/disease/273323/" title="胎死宫内">胎死宫内</a></li>

            <li><a href="/pc/disease/235817/" title="念珠菌性阴道炎">念珠菌性阴道炎</a></li>

            <li><a href="/pc/disease/227666/" title="多胎妊娠">多胎妊娠</a></li>

            <li><a href="/pc/disease/247100/" title="白色念珠菌感染">白色念珠菌感染</a></li>

            <li><a href="/pc/disease/235835/" title="念珠菌阴道炎">念珠菌阴道炎</a></li>

            <li><a href="/pc/disease/240284/" title="无精症">无精症</a></li>

            <li><a href="/pc/disease/258179/" title="胎儿窘迫">胎儿窘迫</a></li>

            <li><a href="/pc/disease/245357/" title="生殖道感染">生殖道感染</a></li>

            <li><a href="/pc/disease/217352/" title="乳腺病">乳腺病</a></li>

            <li><a href="/pc/disease/223718/" title="双胎妊娠">双胎妊娠</a></li>

            <li><a href="/pc/disease/218837/" title="假孕">假孕</a></li>

            <li><a href="/pc/disease/229739/" title="宫角妊娠">宫角妊娠</a></li>

            <li><a href="/pc/disease/229412/" title="子宫腺肌病">子宫腺肌病</a></li>

            <li><a href="/pc/disease/240830/" title="月经病">月经病</a></li>

            <li><a href="/pc/disease/264731/" title="输卵管阻塞">输卵管阻塞</a></li>

            <li><a href="/pc/disease/246722/" title="瘢痕子宫">瘢痕子宫</a></li>

            <li><a href="/pc/disease/228236/" title="女性不孕">女性不孕</a></li>

            <li><a href="/pc/disease/229001/" title="妊高征">妊高征</a></li>

            <li><a href="/pc/disease/223340/" title="原发性早泄">原发性早泄</a></li>

            <li><a href="/pc/disease/253208/" title="老年性阴道炎">老年性阴道炎</a></li>

            <li><a href="/pc/disease/238181/" title="慢性附件炎">慢性附件炎</a></li>

            <li><a href="/pc/disease/238184/" title="慢性附睾炎">慢性附睾炎</a></li>

            <li><a href="/pc/disease/223730/" title="双角子宫">双角子宫</a></li>

            <li><a href="/pc/disease/267557/" title="霉菌性龟头炎">霉菌性龟头炎</a></li>

            <li><a href="/pc/disease/227096/" title="外阴湿疹">外阴湿疹</a></li>

            <li><a href="/pc/disease/218855/" title="假性尖锐湿疣">假性尖锐湿疣</a></li>

            <li><a href="/pc/disease/229307/" title="子宫发育不良">子宫发育不良</a></li>

            <li><a href="/pc/disease/223103/" title="卵泡发育不良">卵泡发育不良</a></li>

            <li><a href="/pc/disease/243986/" title="滴虫病">滴虫病</a></li>

            <li><a href="/pc/disease/221615/" title="前列腺囊肿">前列腺囊肿</a></li>

            <li><a href="/pc/disease/229469/" title="子痫">子痫</a></li>

            <li><a href="/pc/disease/216119/" title="不孕不育症">不孕不育症</a></li>

            <li><a href="/pc/disease/267689/" title="青春期功血">青春期功血</a></li>

            <li><a href="/pc/disease/217976/" title="产后风湿">产后风湿</a></li>

            <li><a href="/pc/disease/237698/" title="慢性子宫内膜炎">慢性子宫内膜炎</a></li>

            <li><a href="/pc/disease/228992/" title="妊娠高血压综合征">妊娠高血压综合征</a></li>

            <li><a href="/pc/disease/270101/" title="骨盆狭窄">骨盆狭窄</a></li>

            <li><a href="/pc/disease/223025/" title="卵巢畸胎瘤">卵巢畸胎瘤</a></li>

            <li><a href="/pc/disease/222812/" title="单角子宫">单角子宫</a></li>

            <li><a href="/pc/disease/240302/" title="无脑儿">无脑儿</a></li>

            <li><a href="/pc/disease/245915/" title="男性不育症">男性不育症</a></li>

            <li><a href="/pc/disease/236873/" title="急性阴道炎">急性阴道炎</a></li>

            <li><a href="/pc/disease/229286/" title="子宫内膜结核">子宫内膜结核</a></li>

            <li><a href="/pc/disease/240281/" title="无精子症">无精子症</a></li>

            <li><a href="/pc/disease/258158/" title="胎儿宫内窘迫">胎儿宫内窘迫</a></li>

            <li><a href="/pc/disease/227138/" title="外阴瘙痒症">外阴瘙痒症</a></li>

            <li><a href="/pc/disease/229643/" title="完全流产">完全流产</a></li>

            <li><a href="/pc/disease/217082/" title="乳房纤维瘤">乳房纤维瘤</a></li>

            <li><a href="/pc/disease/258170/" title="胎儿生长受限">胎儿生长受限</a></li>

            <li><a href="/pc/disease/221681/" title="前庭大腺炎">前庭大腺炎</a></li>

            <li><a href="/pc/disease/240425/" title="早期乳腺癌">早期乳腺癌</a></li>

            <li><a href="/pc/disease/234479/" title="幼稚子宫">幼稚子宫</a></li>

            <li><a href="/pc/disease/226520/" title="复发性流产">复发性流产</a></li>

            <li><a href="/pc/disease/236183/" title="急性子宫内膜炎">急性子宫内膜炎</a></li>

            <li><a href="/pc/disease/236189/" title="急性宫颈炎">急性宫颈炎</a></li>

            <li><a href="/pc/disease/251744/" title="继发性闭经">继发性闭经</a></li>

            <li><a href="/pc/disease/222944/" title="卵巢妊娠">卵巢妊娠</a></li>

            <li><a href="/pc/disease/227141/" title="外阴癌">外阴癌</a></li>

            <li><a href="/pc/disease/220694/" title="免疫性不孕">免疫性不孕</a></li>

            <li><a href="/pc/disease/229742/" title="宫颈上皮内瘤变">宫颈上皮内瘤变</a></li>

            <li><a href="/pc/disease/233912/" title="巨大胎儿">巨大胎儿</a></li>

            <li><a href="/pc/disease/238124/" title="慢性输卵管炎">慢性输卵管炎</a></li>

            <li><a href="/pc/disease/266942/" title="阴道前壁膨出">阴道前壁膨出</a></li>

            <li><a href="/pc/disease/247220/" title="皮样囊肿">皮样囊肿</a></li>

            <li><a href="/pc/disease/236882/" title="急性附件炎">急性附件炎</a></li>

            <li><a href="/pc/disease/267959/" title="非特异性阴道炎">非特异性阴道炎</a></li>

            <li><a href="/pc/disease/229760/" title="宫颈妊娠">宫颈妊娠</a></li>

            <li><a href="/pc/disease/243149/" title="浆膜下肌瘤">浆膜下肌瘤</a></li>

            <li><a href="/pc/disease/229325/" title="子宫复旧不全">子宫复旧不全</a></li>

            <li><a href="/pc/disease/264215/" title="足月小样儿">足月小样儿</a></li>

            <li><a href="/pc/disease/247706/" title="盆腔腹膜炎">盆腔腹膜炎</a></li>

            <li><a href="/pc/disease/234179/" title="带下病">带下病</a></li>

            <li><a href="/pc/disease/229373/" title="子宫炎">子宫炎</a></li>

            <li><a href="/pc/disease/237110/" title="性腺功能减退">性腺功能减退</a></li>

            <li><a href="/pc/disease/228896/" title="妊娠期肝内胆汁淤积症">妊娠期肝内胆汁淤积症</a></li>

            <li><a href="/pc/disease/222941/" title="卵巢囊肿蒂扭转">卵巢囊肿蒂扭转</a></li>

            <li><a href="/pc/disease/228695/" title="妊娠合并糖尿病">妊娠合并糖尿病</a></li>

            <li><a href="/pc/disease/247700/" title="盆腔肿瘤">盆腔肿瘤</a></li>

            <li><a href="/pc/disease/237590/" title="慢性乳腺炎">慢性乳腺炎</a></li>

            <li><a href="/pc/disease/266981/" title="阴道念珠菌感染">阴道念珠菌感染</a></li>

            <li><a href="/pc/disease/221687/" title="前庭大腺脓肿">前庭大腺脓肿</a></li>

            <li><a href="/pc/disease/264662/" title="输卵管上举">输卵管上举</a></li>

            <li><a href="/pc/disease/260741/" title="腹腔妊娠">腹腔妊娠</a></li>

            <li><a href="/pc/disease/270548/" title="高催乳素血症">高催乳素血症</a></li>

            <li><a href="/pc/disease/265694/" title="部分性葡萄胎">部分性葡萄胎</a></li>

            <li><a href="/pc/disease/216170/" title="不射精症">不射精症</a></li>

            <li><a href="/pc/disease/247667/" title="盆腔囊肿">盆腔囊肿</a></li>

            <li><a href="/pc/disease/247694/" title="盆腔结核">盆腔结核</a></li>

            <li><a href="/pc/disease/222974/" title="卵巢恶性肿瘤">卵巢恶性肿瘤</a></li>

            <li><a href="/pc/disease/223013/" title="卵巢炎">卵巢炎</a></li>

            <li><a href="/pc/disease/251177/" title="经前期紧张综合征">经前期紧张综合征</a></li>

        </ul>
    </div>
