
@{
    ViewBag.Title = "SelDiaOfSym";
    Layout = "~/Views/Shared/_LayoutPage_Pan.cshtml";
}
<!--症状自诊主体-->
<div class="body_box">
    <!--人体模型-->
    <div class="HuBodyModel">

    </div>
    <!--症状列表-->
    <div class="SymList">

    </div>
</div>