
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="author" content="www.fractal-technology.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="referrer" content="no-referrer" />
    <title>十安医生</title>
   <link type="text/css" rel="stylesheet" href="~/Content/LayoutPage/global.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/LayoutPage/lyc.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/PMain/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/LayoutPage/page.css" />
    <script type="text/javascript" src="~/Scripts/PMain/jquery.min.js"></script>

    <script type="text/javascript" src="~/Scripts/PMain/global.js"></script>
    <script type="text/javascript" src="~/Scripts/PMain/jquery.mousewheel.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/LayoutPage/jquery.mCustomScrollbar.css" />

    <script type="text/javascript" src="~/scripts/selsym/cityswitch.js"></script>
    <script type="text/javascript" src="~/Scripts/PMain/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/PMain/slick.js"></script>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutPage/myaglobal.css" />
    <div id="myalert-shadow" class="myalert-shadow"></div>
    <div id="myalert" class="dev-alert">
        <div id="my_alert" class="inner">
            <h1></h1>
            <div class="btns"><a id="my_ok" href="javascript:void(0);" class="button ok">确定</a></div>
        </div>
    </div>
    <script type="text/javascript">
        function my_alert(title, url) {
            $('#myalert, #myalert-shadow').show();
            $('#myalert .inner h1').html(title);
            if (url) {
                $('#my_ok').click(function () {
                    if (typeof (url) == 'function') {
                        url();
                        return false;
                    } else {
                        window.location.href = url;
                    }

                });
            } else {
                $('#my_ok').click(function () {
                    $('#myalert, #myalert-shadow').hide();
                });
            }
        }
        function myalert_hide() {
            $('#myalert, #myalert-shadow').hide();
        }
    </script>
    <div class="rightNav">
        <ul>
            <li>
                <a href="/register.html" target="_blank">
                    <span class="s1">
                        <img title="" src="~/image/Rlist_1.png" >
                    </span>
                    <span class="s2">预约挂号</span>
                </a>
            </li>
            <li>
                <a href="/visitinfo.html" target="_blank">
                    <span class="s1">
                        <img title="" src="~/image/Rlist_2.png">
                    </span>
                    <span class="s2">门诊出诊</span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <span class="s1">
                        <img title="" src="~/image/Rlist_3.png" >
                    </span>
                    <span class="s2">快速购药</span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <span class="s1">
                        <img title="" src="~/image/Rlist_4.png" >
                    </span>
                    <span class="s2">远程医学</span>
                </a>
            </li>
            <li>
                <a href="/reportquery.html" target="_blank">
                    <span class="s1">
                        <img title="" src="~/image/Rlist_5.png">
                    </span>
                    <span class="s2">报告查询</span>
                </a>
            </li>

        </ul>
    </div><div class="header" id="header">

        <a href="#" class="menu_h"><span>Menu</span></a>
        <div class="top">
            <div class="cityname" id="cityname">
                长沙
            </div>
            <div class="citynav" id="citynav">
                <p class="cityset">[切换城市]</p>
                <ul class="citynew" style="display: none;">
                    <div class="citylist">
                        <li id="2">长沙</li>
                    </div>
                </ul>
            </div>
            <div class="wrap" >
                <a href="#" class="en" >我的</a>

                <div class="enNav" id="enNav">
                    <a href="/AT_PMain/SeaDoc">我的预约</a><a href="/AT_PMain/SeaDocL">个人资料</a><a href="/AT_PMain/SeaDocH">购物记录</a><a href="/AT_PMain/SeaDocH">我的提问</a><a href="/AT_PMain/SeaDocH">退出登录</a>
                </div>
                <a href="#">医院版</a>            <a href="#">游客版</a>            <a href="#" class="on">患者版</a>
            </div>
          
        </div>
        <div class="nav">
            <div class="wrap cf">
                <div class="logo">
                    <a href="#">
                        <img title="十安医生" src="~/image/Logo3.png"/>
                    </a>
                </div>        <div class="navList">
                    <ul class="cf">
                        <li>
                            <a href="/AT_PMain/AppReg" class="one">预约挂号<span class="open">+</span></a>

                        </li>
                        <li>
                            <a href="/AT_PMain/SelDiaOfSym" class="one">症状自诊<span class="open">+</span></a>

                        </li>
                        <li>
                            <a href="/AT_PMain/SeaDoc" class="one">找医生</a>
                            <div class="secondNav">
                                <a href="/AT_PMain/SeaDoc">按科室</a><a href="/AT_PMain/SeaDocL">按疾病</a><a href="/AT_PMain/SeaDocH">按医院</a>
                            </div>
                        </li>
                        <li>
                            <a href="/AT_PMain/pharmacy" class="one">十安药房</a>
                        </li>
                        <li>
                            <a href="/AT_PMain/OutVisFor" class="one">就医指南<span class="open">+</span></a>
                            <div class="secondNav">
                                <a href="/AT_PMain/OutVisFor">门诊出诊表</a><a href="/AT_PMain/InqSer">查询服务</a><a href="/AT_PMain/ThNoto">感谢信</a><a href="/department_ims/guide/feedback.html">意见反馈</a><a href="/reportquery.html">报告查询</a><a href="/AT_PMain/PatQueAnR">患者问答</a>
                            </div>
                        </li>
                        <li>
                            <a href="/AT_PMain/FindHos" class="one">找医院</a>
                        </li>
                        <li>
                            <a href="/AT_PMain/DisKnDa" class="one">疾病知识库<span class="open">+</span></a>

                        </li>
                        <li>
                            <a href="/AT_PMain/PoScHe" class="one">健康科普</a>
                        </li>
                    </ul>
                    <ul style="padding-top:0">
                        <li class="pc_displayNone"><a href="#" target="_blank" class="one">十安医学杂志</a></li>
                        <li class="pc_displayNone"><a href="#" target="_blank" class="one">十安院报</a></li>
                        <li class="pc_displayNone"><a href="/Uploads/blz360/index.html" target="_blank" class="one">病历展</a></li>
                        <li class="pc_displayNone"><a href="#" target="_blank" class="one">院史馆</a></li>
                    </ul>
                </div>
                <div class="shareNav cf">
                    <a href="#" target="_blank" class="a1">十安医学杂志</a>
                    <a href="#" target="_blank" class="a1">十安院报</a>
                    <a href="/Uploads/blz360/index.html" target="_blank" class="a1">病历展</a>
                    <a href="#" target="_blank" class="a1">院史馆</a>
                    <a href="javascript:;" class="seachBtn" title="搜索" style="  background: url(../../image/head_sea.png) no-repeat center;
        height: 32px;
        width: 32px;"></a>
                    <div class="seach_w">
                        <div class="inp">
                            <input id="keywords" type="text" placeholder="请输入搜索内容" />
                        </div>
                        <a href="javascript:;" class="btn_sea"></a>
                    </div>
                    <a href="javascript:;" class="shareBtn" title="分享"></a>
                    <div class="share_w">
                        <div class="bdsharebuttonbox">
                            <a href="#" title="分享到微信" class="popup_wx" data-cmd="weixin"></a>
                            <a href="#" title="分享到qq好友" class="popup_sqq" data-cmd="sqq"></a>
                            <a href="#" title="分享到新浪微博" class="bds_tsina" data-cmd="tsina"></a>
                            <a href="#" title="分享到qq空间" class="popup_qzone" data-cmd="qzone"></a>
                            <a href="#" title="分享到腾讯微博" class="popup_tqf" data-cmd="tqf"></a>
                        </div>
                    </div>

                    <script>
                        $(function () {
                            $('.btn_sea').on('click', function () {
                                var keywords = $('#keywords').val();
                                if ($.trim(keywords) == '' || keywords == '请输入搜索内容') {
                                    return false;
                                }

                                window.location.href = "/searchs/patient/" + keywords + ".html";
                            });

                            $('#keywords').on('keyup', function (e) {
                                if (e.keyCode == 13) {
                                    $('.btn_sea').click();
                                }
                            });
                        })
                    </script>

                    <script>
                        window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/Public/static/baiduShare/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                </div>
            </div>
        </div>
    </div><input type="hidden" id="catebynav" value="/patient" />

    <div>
        @RenderBody()
    </div>

    <script>
        $(function () {
            $('.ind_banner').slick({
                dots: true,
                autoplay: true,
                infinite: true,
                speed: 1000,
                autoplaySpeed: 5000,
                fade: false,
                slide: '.index_1',
                onAfterChange: function (a, idx) {
                    $('.ind_banner .index_1.slick-active').addClass("on").siblings().removeClass("on");
                }
            });

            setTimeout(function () {
                if ($('.ind_banner .index_1').size() > 1) {
                    $('.ind_banner .index_1').eq(1).addClass("on")
                } else {
                    $('.ind_banner .index_1').addClass("on")
                }
            }, 300)

            $(window).scroll(function () {
                scorllAnimate(".index_2");
            })
        })
        $(function () {
            $(".tabClick .a1").on("click", function () {
                var i = $(this).index();
                $(this).addClass("on").siblings().removeClass("on");
                $(".i4-list .child").eq(i).addClass("on").siblings().removeClass("on");
                $(".i4-list .child").eq(i).find("li").eq(0).find("a").mouseover()
            });
            $(".tabClick .a2").on("click", function () {
                var i = $(this).index();
                $(this).addClass("on").siblings().removeClass("on");
                $(".i4-list .child").eq(i).addClass("on").siblings().removeClass("on");
                $(".i4-list .child").eq(i).find("li").eq(0).find("a").mouseover()
            })
            $(".tabClick .a3").on("click", function () {
                var i = $(this).index();
                $(this).addClass("on").siblings().removeClass("on");
                $(".i4-list .child").eq(i).addClass("on").siblings().removeClass("on");
                $(".i4-list .child").eq(i).find("li").eq(0).find("a").mouseover()
            });



            $(document).on("mouseover", ".i4-list li a", function (e) {
                //e.preventDefault();
                var i = $(this).closest("li").index();
                $(this).closest("li").addClass("on").siblings().removeClass("on");

                var _title = $(this).data("title");
                var _alt = $(this).data("alt");
                var _h = $(this).data("h");
                var _p = $(this).data("p");
                var _src = $(this).data("src");
                var _href = $(this).attr("href");

                $(".ind_4_cont .img .a").attr({ "href": _href });
                $(".ind_4_cont .img img").attr({ "src": _src });
                $(".ind_4_cont .img img").attr({ "title": _title });
                $(".ind_4_cont .img img").attr({ "alt": _alt });
                $(".ind_4_cont .img .con h2").html(_h);
                $(".ind_4_cont .img .con p").html(_p);

            });
            $(".tabClick .a1").click();
        })
    </script>

    <div class="footer " style="background-color:#3a3a3a">
        <div class="link">
            <div class="wrap cf">
                <span class="l">友情链接：</span>
                <div class="a">
                    <a href="#" target="_blank">中华人民共和国国家卫生健康委员会</a><a href="#" target="_blank">北京市卫生健康委员会</a><a href="#" target="_blank">中国医学科学院</a><a href="#" target="_blank">北京协和医学基金会</a><a href="#" target="_blank">协和科技开发有限责任公司</a><a class="last" href="#" target="_blank">协和化妆品</a>
                </div>
            </div>
        </div>    <div class="copy">
            <div class="wrap cf">
                <div class="left">
                    <div class="siteMap">
                        <a href="/sitemap.html">网站地图</a><a href="/research/gudie.html">关于我们</a>
                    </div>
                    <p class="cf address"><span>地　　址：</span><span class="div"><b>（信息学院）湖南省长沙市长沙县湖南工程职业技术学院，100730；</b></span>
                    <p>服务热线： 010-69156114</p>
                </div>
                <div class="right">
                    <p>Copyright 十安在线医生 All Rights Reserved. 本站内容仅供参考，不作为诊断及医疗依据
                    <p><a href="#" target="_blank">网站参考</a>：<a href="#" target="_blank">北京分形科技北京协和医院</a></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            if ($(window).width() < 1262) {
                anchor();
                //监听触发操作
                function hashChangeFire() {
                    var hh = 10;
                    if ($('.header').css("position") === "fixed") {
                        hh = hh + $('.header').height();
                    }
                    var id = window.location.href.split('#');
                    id = '#' + id[id.length - 1];
                    try {
                        $('html,body').animate({ scrollTop: $(id).offset().top - hh });
                    } catch (e) {
                        console.log(e);
                    }
                }
                //url变化监听器
                if (('onhashchange' in window) && ((typeof document.documentMode === 'undefined') || document.documentMode == 8)) {
                    // 浏览器支持onhashchange事件
                    window.onhashchange = hashChangeFire;  // TODO，对应新的hash执行的操作函数
                } else {
                    // 不支持则用定时器检测的办法
                    setInterval(function () {
                        // 检测hash值或其中某一段是否更改的函数， 在低版本的iE浏览器中通过window.location.hash取出的指和其它的浏览器不同，要注意
                        var ischanged = isHashChanged();
                        if (ischanged) {
                            hashChangeFire();  // TODO，对应新的hash执行的操作函数
                        }
                    }, 150);
                }
            }
        }
    </script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "#";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "#";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1272450198'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272450198%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
