
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>十安医生</title>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="~/Content/MainPage/global.css" rel="stylesheet" />
    <link href="~/Content/MainPage/slick.css" rel="stylesheet" />
    <link href="~/Content/MainPage/page.css" rel="stylesheet" />
    <script src="~/Scripts/common/jquery.js"></script>
    <script src="~/Scripts/common/global.js"></script>
    <script src="~/Scripts/common/mousewheel.js"></script>
    <link href="~/Content/MainPage/mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/Content/MainPage/animate.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/common/mCustomScrollbar.js"></script>
    <script  type="text/javascript"  src="~/Scripts/common/slick.js"></script>

</head>

<body>
    <div class="guide">
        <div class="bg"></div>
        <div class="wrap">
            <div class="logo" edit_params="width%3D1920%26height%3D1079%26width2%3D156%26height2%3D133%26showAlt%3D1">
                <style>
                    .guide .bg {
                        background-image: url('../../image/bg.jpg');
                    }
                </style>
                <a href="/"><img title="logo"  src="~/image/logo3.png" style="width:25em;margin-left:-100px;margin-top:-30px"></a>
            </div>  
            <!----><ul class="tools">
                <style>
                    #ycyx .s1, #ycyx img, #ycyx a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    #ycyx a {
                        position: relative;
                    }

                    #ycyx .s1 {
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    #ycyx .s2 {
                        display: inline-block;
                        vertical-align: middle;
                        width: 45px;
                        line-height: 1.3;
                        font-size: 16px;
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        visibility: hidden;
                        color: #fff;
                        position: relative;
                    }

                    #ycyx:hover .s2 {
                        opacity: 1;
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        visibility: visible;
                    }

                    #ycyx:hover .s1 {
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        visibility: hidden;
                    }

                    #ycyx:hover {
                        background: #01763a;
                    }

                    #rczp .s1, #rczp img, #rczp a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    #rczp a {
                        position: relative;
                    }

                    #rczp .s1 {
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    #rczp .s2 {
                        display: inline-block;
                        vertical-align: middle;
                        width: 45px;
                        line-height: 1.3;
                        font-size: 16px;
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        visibility: hidden;
                        color: #fff;
                        position: relative;
                    }

                    #rczp:hover .s2 {
                        opacity: 1;
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        visibility: visible;
                    }

                    #rczp:hover .s1 {
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        visibility: hidden;
                    }

                    #rczp:hover {
                        background: #01763a;
                    }
                </style>
                <li class="l1">
            <a target="_blank" href="/register.html">预约挂号</a>
                </li>
                <li class="l3">
            <div class="code">
                    <img title="微信登录" alt="微信登录" src="/Uploads/Picture/2019/12/04/s5de730b6b91ef.jpg"></div>
                </li>
            <!--
                <li class="l5" id="ycyx" style="background-image:url(../../image/hosicon.png)">
                    <a target="_blank" href="http://telemedicine.pumch.cn/#/login" class="s1">&nbsp;</a>
                    <a target="_blank" href="http://telemedicine.pumch.cn/#/login" class="s2" style="margin-left:15px;margin-top:8px;">远程医学</a>
                </li>
                <li class="l6" id="rczp" style="background-image:url(../../image/usericon.png)">
                    <a target="_blank" href="http://jobs.pumch.cn/" class="s1">&nbsp;</a>
                    <a target="_blank" href="http://jobs.pumch.cn/" class="s2" style="margin-left:15px;margin-top:8px;">症状自诊</a>
                </li>
            -->
            </ul>
            <ul class="links">
                <li class="l1" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D4%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="~/image/患者.png" /></span>
                    <p class="p">患者版</p>
                    <a href="/AT_PMain/PanMain" class="link">登录</a>
                </li>
                <li class="l2" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D4%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="~/image/hosicon.png"></span>
                    <p class="p">医生版</p>
                    <a href="/learning.html" class="link">登录</a>
                </li>
                <li class="l3" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D4%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="~/image/usericon.png"></span>
                    <p class="p">症状自诊</p>
                    <a href="/staff.html" class="link">点击进入</a>
                </li>
                <li class="l4" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D8%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="~/image/预约挂号.png"></span>
                    <p class="p">在线问诊</p>
                    <a href="/en.html" class="link">点击进入</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e433a0b553c50c4663c2ef927781bc71";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fa06b5d83a50d14d11bd70f117d24063";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1272450198'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272450198%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
