
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>十安医生</title>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="~/Content/Public/global.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Public/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Public/page.css">
    <script src="~/Scripts/common/jquery.js"></script>
    <script src="~/Scripts/common/global.js"></script>
    <script src="~/Scripts/common/mousewheel.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Public/mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Public/animate.css">
    <script src="~/Scripts/common/mCustomScrollbar.js"></script>
    <script src="~/Scripts/common/slick.js"></script>


    <style>
        * {
            behavior: url(../PIE.htc);
        }
    </style>

</head>

<body>
    <div class="guide">
        <div class="bg"></div>
        <div class="wrap">
            <div class="logo" edit_params="width%3D1920%26height%3D1079%26width2%3D156%26height2%3D133%26showAlt%3D1">
                <style>
                    .guide .bg {
                        background-image: url(/Uploads/Picture/2017/12/05/s5a2674ee01c24.jpg);
                    }
                </style>
                <a href="/"><img title="logo" alt="logo" src="/Uploads/Picture/2017/12/05/s5a2674f6df585.png"></a>
            </div>    <ul class="tools">
                <style>
                    #ycyx .s1, #ycyx img, #ycyx a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    #ycyx a {
                        position: relative;
                    }

                    #ycyx .s1 {
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    #ycyx .s2 {
                        display: inline-block;
                        vertical-align: middle;
                        width: 45px;
                        line-height: 1.3;
                        font-size: 16px;
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        visibility: hidden;
                        color: #fff;
                        position: relative;
                    }

                    #ycyx:hover .s2 {
                        opacity: 1;
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        visibility: visible;
                    }

                    #ycyx:hover .s1 {
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        visibility: hidden;
                    }

                    #ycyx:hover {
                        background: #01763a;
                    }

                    #rczp .s1, #rczp img, #rczp a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    #rczp a {
                        position: relative;
                    }

                    #rczp .s1 {
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    #rczp .s2 {
                        display: inline-block;
                        vertical-align: middle;
                        width: 45px;
                        line-height: 1.3;
                        font-size: 16px;
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        visibility: hidden;
                        color: #fff;
                        position: relative;
                    }

                    #rczp:hover .s2 {
                        opacity: 1;
                        -webkit-filter: alphha(opacity=100);
                        filter: alphha(opacity=100);
                        visibility: visible;
                    }

                    #rczp:hover .s1 {
                        opacity: 0;
                        -webkit-filter: alphha(opacity=0);
                        filter: alphha(opacity=0);
                        visibility: hidden;
                    }

                    #rczp:hover {
                        background: #01763a;
                    }
                </style>
                <li class="l1"><a target="_blank" href="/register.html">预约挂号</a></li>
                <li class="l2"><div class="code"><img title="百年协和" alt="百年协和" src="/Uploads/Picture/2018/01/12/s5a588b710cb4b.jpg"></div></li>
                <li class="l3"><div class="code"><img title="协和微信" alt="协和微信" src="/Uploads/Picture/2019/12/04/s5de730b6b91ef.jpg"></div></li>
                <li class="l4"><div class="code"><img title="协和微博" alt="协和微博" src="/Uploads/Picture/2018/01/12/s5a5872d1944bf.jpg"></div></li>
                <li class="l5" id="ycyx" style="background-image:url(/Public/static/themes/WechatIMG17.png)">
                    <a target="_blank" href="http://telemedicine.pumch.cn/#/login" class="s1">&nbsp;</a>
                    <a target="_blank" href="http://telemedicine.pumch.cn/#/login" class="s2" style="margin-left:15px;margin-top:8px;">远程医学</a>
                </li>
                <li class="l6" id="rczp" style="background-image:url(/Public/static/themes/rczp0602.png)">
                    <a target="_blank" href="http://jobs.pumch.cn/" class="s1">&nbsp;</a>
                    <a target="_blank" href="http://jobs.pumch.cn/" class="s2" style="margin-left:15px;margin-top:8px;">人才招聘</a>
                </li>
            </ul>
            <ul class="links">
                <li class="l1" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D4%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="/Uploads/Picture/2017/12/15/s5a3387951465a.png"></span>
                    <p class="p">患者版</p>
                    <a href="/patient.html" class="link">点击进入</a>
                </li>
                <li class="l2" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D4%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="/Uploads/Picture/2017/12/05/s5a2675b3410f6.png"></span>
                    <p class="p">学术版</p>
                    <a href="/learning.html" class="link">点击进入</a>
                </li>
                <li class="l3" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D4%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="/Uploads/Picture/2017/12/05/s5a2675d0037cd.png"></span>
                    <p class="p">员工版</p>
                    <a href="/staff.html" class="link">点击进入</a>
                </li>
                <li class="l4" edit_params="width%3D78%26height%3D76%26title1Show%3D1%26title1Max%3D8%26showLink%3D1%26backgroundColor%3D1">
                    <span class="ico animated"><img title="" alt="" src="/Uploads/Picture/2017/12/05/s5a2675dc095b4.png"></span>
                    <p class="p">english</p>
                    <a href="/en.html" class="link">Enter</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e433a0b553c50c4663c2ef927781bc71";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fa06b5d83a50d14d11bd70f117d24063";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1272450198'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272450198%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
